@model SwiftCourier.Models.BookingDetailsViewModel

@{
    Layout = "_PrintLite";
    ViewData["Title"] = "Bill Of Lading";
}

<div class="container animated bounceInLeft">
    <div class="logo">
        <img src="~/print/resources/img/logo_main.png">
    </div>
    <div class="top-col pull-left">
        <div class="circle pull-left">
            <span>
                @if (Model.Invoice.BillingMode.Equals(SwiftCourier.Models.Enums.BillingMode.CashOnDelivery.ToString(), StringComparison.OrdinalIgnoreCase))
            { <text>X</text>}
            </span>
        </div>
        <h2 class="pull-left t-uppercase">cash on delivery</h2>
        <div class="clearfix">
        </div>
        <div class="circle pull-left">
            <span>
                @if (Model.Invoice.BillingMode.Equals(SwiftCourier.Models.Enums.BillingMode.PayNow.ToString(), StringComparison.OrdinalIgnoreCase))
            { <text>X</text>}
            </span>
        </div>
        <h2 class="pull-left t-uppercase">Pre-Paid</h2>
        <div class="clearfix">
        </div>
        <div class="circle pull-left">
            <span>
                @if (Model.Invoice.BillingMode.Equals(SwiftCourier.Models.Enums.BillingMode.BillToAccount.ToString(), StringComparison.OrdinalIgnoreCase))
            { <text>X</text>}
            </span>
        </div>
        <h2 class="pull-left t-uppercase">Account</h2>
    </div>
    <div class="top-colx pull-left">
        <h5 class="roboto-medium">GCT# 001-653-474</h5>
        <h5 class="roboto-medium">ACCOUNT NUMBER </h5>
        <h6 class="animated swing roboto-medium">@Model.Customer.Id</h6>
    </div>
    <div class="top-colx pull-left">
        <h5 class="roboto-medium">Airway bill: @Model.Package.TrackingNumber</h5>
        <h5 class="roboto-medium">ROUTE: <span class="block-highliter">@Model.Origin.Name</span> TO <span class="block-highliter">@Model.Destination.Name</span></h5>
    </div>
    <div class="clearfix">
    </div>
    <div class="sub-cons animated shake margin-top-sm">
        <h3>shipper</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Customer Name <span class="pull-right">:</span>
                    </td>
                    <td class="t-uppercase">
                        @Model.Customer.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        Address<span class="pull-right">:</span>
                    </td>
                    <td class="t-uppercase">
                        @Html.Raw(Model.Customer.Address.Replace("\n", "<br/>"))
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact Number<span class="pull-right">:</span>
                    </td>
                    <td class="t-uppercase">
                        @Model.Customer.ContactNumber
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/sub-cons-->
    <div class="sub-cons border-left animated shake margin-top-sm">
        <h3>Consignee</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Consignee Name<span class="pull-right">:</span></td>
                    <td class="t-uppercase">@Model.ConsigneeName</td>
                </tr>
                <tr>
                    <td>Address<span class="pull-right">:</span></td>
                    <td class="t-uppercase">@Html.Raw(Model.ConsigneeAddress.Replace("\n", "<br/>"))</td>
                </tr>
                <tr>
                    <td>Contact Number<span class="pull-right">:</span></td>
                    <td class="t-uppercase">@Model.ConsigneeContactNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/sub-cons-->
    <div class="clearfix">
    </div>
    <div class="sub-cons border-right animated shake">
        @if (Model.Invoice.Status != SwiftCourier.Models.Enums.InvoiceStatus.NotIssued.ToString()) {
            <h3>Invoice</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CHARGES</th>
                        <th>$</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Base</td>
                        <td>@Model.Invoice.ServiceCost</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>@Model.Invoice.GCT</td>
                    </tr>
                    <tr>
                        <td class="roboto-medium">TOTAL</td>
                        <td>@Model.Invoice.Total</td>
                    </tr>
                </tbody>
            </table>

        }
    </div>
    <!--/sub-cons-->
    <div class="sub-cons animated shake">
        <h3>Package</h3>
        <div class="package-col pull-left">
            <h2 class="pull-left">No. of Pieces</h2>
            <div class="box-data pull-left">
                <span>@Model.Package.Pieces</span>
            </div>
            <h2 class="pull-left">Weight (Lbs)</h2>
            <div class="box-data pull-left">
                <span>@Model.Package.Weight</span>
            </div>
        </div>
        <!-- <div class="package-col pull-left">
            <h2 class="pull-left">Weight (Lbs)</h2>
            <div class="box-data pull-left">
                <span>1</span>
            </div>
        </div> -->
        <!-- <div class="clearfix">
        </div> -->
        <div class="cust-col pull-right">
            @foreach (var service in ViewData["Services"] as IEnumerable<SwiftCourier.Data.Service>)
            {
                <div class="contain-box pull-left">
                    <div class="box-data2 pull-left">
                        <span>
                            @if (Model.ServiceName.Equals(service.Name, StringComparison.OrdinalIgnoreCase))
                            { <text>X</text> }
                        </span>
                    </div>
                    <h6 class="pull-left t-uppercase">@service.Name</h6>
                </div>
            }
        </div>
        <div class="clearfix">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        DESCRIPTION
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Package.Description
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="shipper-cred">
            <h5>Shipper Signature</h5>
            <div class="signature-line">
            </div>
            <h5 class="pull-left">
                Driver ID: <span class="block-highliter">
                    @if (Model.Package.AssignedTo != null)
            { <text>@Model.Package.AssignedTo</text> }
                </span>
            </h5>
            <h5 class="pull-right" style="margin-right: 29px; margin-bottom: 0px;">
                Date: <span class="roboto-medium">
                    @Model.CreatedAt
                </span>
            </h5>
            <div class="clearfix"></div>
            <h5 class="pull-right" style="margin-right: 29px;margin-top: -8px;"> Time: <span class="roboto-medium">@Model.CreatedAt</span></h5>

        </div>
    </div>
    <!--/sub-cons-->
    <div class="clearfix">
    </div>
    <div class="terms">
        <h3 class="t-uppercase">Terms & Conditions</h3>
    </div>
    <div class="clearfix">
    </div>
    <p>
        In consideration of the rate charged, it is agreed that the value of this shipment, whether consisting of one or more packages, is not more than JA$1000.00, and is liability of UnionOne Express for loss or damaged, irrespective of the cause of such loss or damage, including negligence is limited to JA$1000.00, unless a greater value is declared and increased charged based upon such greater value is paid. For any value in excess of JA$1000.00 per shipment to limit of JA$50000.00, an additional charge of 2.0% of declared value will be made. Further, to give UnionOne Express the opportunity to protect shipments of higher value items, it is agreed that no shipments of such higher value items will be made through UnionOne Express without first declaring such items/s at the time call for service is made. Shipper's failure to notify UnionOne Express shall relieve UnionOne Express from any liability for loss or damage of such higher value item/s, irrespective of the cause of such loss or damage, including negligence. If, after due notice to UnionOne Express by the Shipper, such higher value items are accepted for delivery, the same limitations of liability based on declared value, as in hereinabove stated, shall apply. UnionOne Express will not be liable for loss or damage caused by delay or improperly packaged or improperly labeled shipments. Claims regarding any loss or damage of any kind, must be made in writing within 7 days of delivery of shipment to UnionOne Express. Claims not made within 7 days of delivery of shipment shall be deemed waived by the Shipper. Shipper agrees to hold UnionOne Express harmless against any consequential losses or damages as a result of any claim; liability will be limited to declared value if item/s, subject to verification of replacement cost by our insurance agents. Should any claim in an amount in excess of the forgoing limits of liability be asserted against UnionOne Express by third party for loss or damage to merchandise handled hereunder, the Shipper agrees to hold UnionOne Express harmless against any such claim irrespective of the cause of such loss or damage, including negligence. If the Shipper or consignee designates a third party or COD billing on the AIR Waybill, UnionOne Express will invoice the designated party as instructed. In the event that the designated party fails to pay, the Shipper will be held liable for payment. UnionOne Express does not accept for shipment Cash, Jewellery, and negotiable securities/instruments and will, therefore, not accept any liability or responsibility for any shipment containing any of these. No single package will be accepted for shipment that weighs more than 70 lbs. (32kg) or is larger than 100cm x50cm x25cm. Civil Aviation Regulations strictly regulate the transportation of hazardous materials on aircraft, Flammable liquids, toxic materials, acids, corrosive chemicals, explosive, nuclear materials, aerosol canisters, compressed oxygen/oxygen generators, etc. are all, therefore unacceptable for shipment via UnionOne Express. The shipper may be held liable for any damage caused by any undeclared hazardous material shipped. Any shipment requiring special permits for handling, such as firearms and ammunition is also unacceptable for shipment via UnionOne Express illegal substances and drugs are strictly prohibited. We do not accept as shipment animals, plant perishables or anything that is considered a restricted article or hazardous materials by the Jamaica Civil Aviation Authority, the International Air Transport Association (IATA) or the International Civil Aviation Organization (ICAO).
    </p>
    <div class="clearfix">
    </div>
    <div class="location">
        <h3 class="cust-font-s">www.UnionOne-Express.com &#8226; 12 Westminster Road - Kingston 10 &#8226; Telephone: 906-9567/8</h3>
    </div>
</div>
