@model IEnumerable<BookingListItemViewModel>

@{
    ViewData["Title"] = "Statement";

    var customer = ViewData["customer"] as CustomerDetailsViewModel;
}

<div class="panel mb25">
    <div class="panel-heading">
        <span>Statement for <strong>@customer.Name</strong> - <strong>@customer.Id</strong></span>
        <span class="pull-right">
            <a class="print-document" href="#">Print</a>
        </span>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsigneeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Package.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Invoice.AmountDue)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @if (item.Package != null)
                                {
                                    <text>@Html.DisplayFor(modelItem => item.Package.Status)</text>
                                }
                            </td>
                            <td>
                                @if (item.Invoice != null)
                                {
                                    <text>@Html.DisplayFor(modelItem => item.Invoice.AmountDue)</text>
                                }
                            </td>
                            <td>
                                <a asp-controller="Bookings" asp-action="Details" asp-route-id="@item.Id" data-toggle=tooltip data-placement=top title="Details"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section NavBarText {
    <text>Statement</text>
}

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Customers" asp-action="Index">Customers</a>
        </li>
        <li>
            <a asp-action="Details" asp-route-id="@customer.Id">@customer.Name</a>
        </li>
        <li class="active ng-binding">
            <a href="javascript:;">Statement</a>
        </li>
    </ol>
}

@section Scripts {
    <script src="~/scripts/print.js"></script>
    <script type="text/javascript">
        $("[data-toggle=tooltip]").tooltip();
    </script>
}

