@model IEnumerable<BookingListItemViewModel>

@{
    ViewData["Title"] = "Statement";

    var customer = ViewData["Customer"] as CustomerDetailsViewModel;
    var statementMonth = (int)ViewData["Month"];
    var statementYear = (int)ViewData["Year"];

    var months = new Dictionary<int, string>();
    months.Add(1, "January");
    months.Add(2, "February");
    months.Add(3, "March");
    months.Add(4, "April");
    months.Add(5, "May");
    months.Add(6, "June");
    months.Add(7, "July");
    months.Add(8, "August");
    months.Add(9, "September");
    months.Add(10, "October");
    months.Add(11, "November");
    months.Add(12, "December");
}

<div class="panel mb25">
    <div class="panel-heading">
        <span>Statement for <strong>@customer.Name</strong> - <strong> @statementMonth/@statementYear</strong></span>
        <div class="pull-right">
            <form class="form-inline" asp-controller="Customers" asp-action="Statement" asp-route-id="@customer.Id" method="get">
                <div class="form-group">
                    <select class="form-control" name="month">
                        @foreach (var month in months)
                        {
                            if (month.Key == statementMonth)
                            {
                                <option value="@month.Key" selected="selected">@month.Value</option>
                            }
                            else
                            {
                                <option value="@month.Key">@month.Value</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="year" value="@statementYear">
                        @for (int year = 2016; year <= DateTime.Now.Year; ++year)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <input type="submit" class="btn btn-default" value="Submit" />
                <div class="form-group">
                    &nbsp;<a class="btn btn-primary print-document" asp-controller="Customers" asp-action="Statement" asp-route-id="@customer.Id" asp-route-month="@statementMonth" asp-route-year="@statementYear" asp-route-print="yes">Print</a>
                </div>
            </form>
        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsigneeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Package.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Invoice.AmountDue)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @if (item.Package != null)
                                {
                                    <text>@Html.DisplayFor(modelItem => item.Package.Status)</text>
                                }
                            </td>
                            <td>
                                @if (item.Invoice != null)
                                {
                                    <text>@Html.DisplayFor(modelItem => item.Invoice.AmountDue)</text>
                                }
                            </td>
                            <td>
                                <a asp-controller="Bookings" asp-action="Details" asp-route-id="@item.Id" data-toggle=tooltip data-placement=top title="Details"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section NavBarText {
    <text>Statement</text>
}

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Customers" asp-action="Index">Customers</a>
        </li>
        <li>
            <a asp-action="Details" asp-route-id="@customer.Id">@customer.Name</a>
        </li>
        <li class="active ng-binding">
            <a href="javascript:;">Statement</a>
        </li>
    </ol>
}

@section Scripts {
    <script src="~/scripts/print.js"></script>
    <script type="text/javascript">
        $("[data-toggle=tooltip]").tooltip();
    </script>
}

