@model IEnumerable<BookingListItemViewModel>

@{
    Layout = "_Print";
    ViewData["Title"] = "Statement";

    var customer = ViewData["Customer"] as CustomerDetailsViewModel;
    var statementMonth = (int)ViewData["Month"];
    var statementYear = (int)ViewData["Year"];

    var months = new Dictionary<int, string>();
    months.Add(1, "January");
    months.Add(2, "February");
    months.Add(3, "March");
    months.Add(4, "April");
    months.Add(5, "May");
    months.Add(6, "June");
    months.Add(7, "July");
    months.Add(8, "August");
    months.Add(9, "September");
    months.Add(10, "October");
    months.Add(11, "November");
    months.Add(12, "December");
}

<div class="panel mb25">
    <div class="panel-heading">
        <span>Statement for <strong>@customer.Name</strong> - <strong> @statementMonth/@statementYear</strong></span>
        <div class="pull-right">
        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsigneeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Package.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Invoice.AmountDue)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsigneeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceName)
                            </td>
                            <td>
                                @if (item.Package != null)
                                {
                                    <text>@Html.DisplayFor(modelItem => item.Package.Status)</text>
                                }
                            </td>
                            <td>
                                @if (item.Invoice != null)
                                {
                                    <text>@Html.DisplayFor(modelItem => item.Invoice.AmountDue)</text>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/print.js"></script>
    <script type="text/javascript">
        $("[data-toggle=tooltip]").tooltip();
    </script>
}

