@model SwiftCourier.ViewModels.PaymentDetailsViewModel

@{
    ViewData["Title"] = "Payment Details";
}

<div class="panel mb25">
    <div class="panel-heading border">
        Payment
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-8">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                    <dd>@Html.DisplayFor(model => model.Id)</dd>
                    <dt>@Html.DisplayNameFor(model => model.PaymentMethod)</dt>
                    <dd>@Html.DisplayFor(model => model.PaymentMethod)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Amount)</dt>
                    <dd>@Html.DisplayFor(model => model.Amount)</dd>
                    <dt>@Html.DisplayNameFor(model => model.ProcessedBy)</dt>
                    <dd>@Html.DisplayFor(model => model.ProcessedBy)</dd>
                    <dt>@Html.DisplayNameFor(model => model.ProcessedAt)</dt>
                    <dd>@Html.DisplayFor(model => model.ProcessedAt)</dd>
                </dl>
            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("Details", "Payments", new { id=Model.Id, print="yes" })" class="print-document" data-document-name="Receipt">Print Receipt</a>
                <br/>
                <a asp-action="Invoice" asp-controller="Bookings" asp-route-id="@Model.InvoiceId">View Invoice</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/print.js"></script>
}

@section NavBarText {
    <text>Payments</text>
}

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Payments" asp-action="Index">Payments</a>
        </li>
        <li class="active ng-binding">
            <a href="javascript:;">Details</a>
        </li>
    </ol>
}
